.pro_Container{
    position: relative;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.property{
    display: flex;
    flex-direction: row;
}

.contProperty2 {
    max-width: 50%;
}

.imgProperty{
    width: 400px;
}

@media (max-width: 1000px){
    .property{
        flex-direction: column;
    }
    .imgProperty{
        width: 275px;
    }
}
